@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  position: relative;
}

.ProseMirror p,
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror pre {
  position: relative;
  margin-left: 1.5rem;
}

.ProseMirror p:hover,
.ProseMirror h1:hover,
.ProseMirror h2:hover,
.ProseMirror h3:hover,
.ProseMirror pre:hover {
  background: rgba(0, 0, 0, 0.02);
}

.plus-menu {
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
